GRIP
GRIP_SORTED
__pycache__/sort_mri.cpython-311.pyc
.ipynb_checkpoints/Concentration-Reconstruction-checkpoint.ipynb
.ipynb_checkpoints/DICOMSorting-checkpoint.ipynb
.ipynb_checkpoints/Starmap-checkpoint.ipynb
.vscode/settings.json
FREESURFER/PAT_001/LTA/20230123_075013.lta
FREESURFER/PAT_001/LTA/20230123_143958.lta
FREESURFER/PAT_001/LTA/20230124_084508.lta
FREESURFER/PAT_001/LTA/20230125_090823.lta
FREESURFER/PAT_001/LTA/20230126_073744.lta
FREESURFER/PAT_001/NORMALIZED/20230123_075013.mgz
FREESURFER/PAT_001/NORMALIZED/20230123_143958.mgz
FREESURFER/PAT_001/NORMALIZED/20230124_084508.mgz
FREESURFER/PAT_001/NORMALIZED/20230125_090823.mgz
FREESURFER/PAT_001/NORMALIZED/20230126_073744.mgz
FREESURFER/PAT_001/REGISTERED/20230123_075013.mgz
FREESURFER/PAT_001/REGISTERED/20230123_143958.mgz
FREESURFER/PAT_001/REGISTERED/20230124_084508.mgz
FREESURFER/PAT_001/REGISTERED/20230125_090823.mgz
FREESURFER/PAT_001/REGISTERED/20230126_073744.mgz
FREESURFER/PAT_001/REGISTERED/template.mgz
FREESURFER/PAT_001/RESAMPLED/20230123_075013.mgz
FREESURFER/PAT_001/RESAMPLED/20230123_143958.mgz
FREESURFER/PAT_001/RESAMPLED/20230124_084508.mgz
FREESURFER/PAT_001/RESAMPLED/20230125_090823.mgz
FREESURFER/PAT_001/RESAMPLED/20230126_073744.mgz
FREESURFER/PAT_001/label/aparc.annot.a2009s.ctab
FREESURFER/PAT_001/label/aparc.annot.ctab
FREESURFER/PAT_001/label/aparc.annot.DKTatlas.ctab
FREESURFER/PAT_001/label/BA_exvivo.ctab
FREESURFER/PAT_001/label/BA_exvivo.thresh.ctab
FREESURFER/PAT_001/label/lh.aparc.a2009s.annot
FREESURFER/PAT_001/label/lh.aparc.annot
FREESURFER/PAT_001/label/lh.aparc.DKTatlas.annot
FREESURFER/PAT_001/label/lh.BA_exvivo.annot
FREESURFER/PAT_001/label/lh.BA_exvivo.thresh.annot
FREESURFER/PAT_001/label/lh.BA1_exvivo.label
FREESURFER/PAT_001/label/lh.BA1_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.BA2_exvivo.label
FREESURFER/PAT_001/label/lh.BA2_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.BA3a_exvivo.label
FREESURFER/PAT_001/label/lh.BA3a_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.BA3b_exvivo.label
FREESURFER/PAT_001/label/lh.BA3b_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.BA4a_exvivo.label
FREESURFER/PAT_001/label/lh.BA4a_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.BA4p_exvivo.label
FREESURFER/PAT_001/label/lh.BA4p_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.BA6_exvivo.label
FREESURFER/PAT_001/label/lh.BA6_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.BA44_exvivo.label
FREESURFER/PAT_001/label/lh.BA44_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.BA45_exvivo.label
FREESURFER/PAT_001/label/lh.BA45_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.cortex.label
FREESURFER/PAT_001/label/lh.cortex+hipamyg.label
FREESURFER/PAT_001/label/lh.entorhinal_exvivo.label
FREESURFER/PAT_001/label/lh.entorhinal_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.FG1.mpm.vpnl.label
FREESURFER/PAT_001/label/lh.FG2.mpm.vpnl.label
FREESURFER/PAT_001/label/lh.FG3.mpm.vpnl.label
FREESURFER/PAT_001/label/lh.FG4.mpm.vpnl.label
FREESURFER/PAT_001/label/lh.hOc1.mpm.vpnl.label
FREESURFER/PAT_001/label/lh.hOc2.mpm.vpnl.label
FREESURFER/PAT_001/label/lh.hOc3v.mpm.vpnl.label
FREESURFER/PAT_001/label/lh.hOc4v.mpm.vpnl.label
FREESURFER/PAT_001/label/lh.mpm.vpnl.annot
FREESURFER/PAT_001/label/lh.MT_exvivo.label
FREESURFER/PAT_001/label/lh.MT_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.nofix.cortex.label
FREESURFER/PAT_001/label/lh.perirhinal_exvivo.label
FREESURFER/PAT_001/label/lh.perirhinal_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.V1_exvivo.label
FREESURFER/PAT_001/label/lh.V1_exvivo.thresh.label
FREESURFER/PAT_001/label/lh.V2_exvivo.label
FREESURFER/PAT_001/label/lh.V2_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.aparc.a2009s.annot
FREESURFER/PAT_001/label/rh.aparc.annot
FREESURFER/PAT_001/label/rh.aparc.DKTatlas.annot
FREESURFER/PAT_001/label/rh.BA_exvivo.annot
FREESURFER/PAT_001/label/rh.BA_exvivo.thresh.annot
FREESURFER/PAT_001/label/rh.BA1_exvivo.label
FREESURFER/PAT_001/label/rh.BA1_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.BA2_exvivo.label
FREESURFER/PAT_001/label/rh.BA2_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.BA3a_exvivo.label
FREESURFER/PAT_001/label/rh.BA3a_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.BA3b_exvivo.label
FREESURFER/PAT_001/label/rh.BA3b_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.BA4a_exvivo.label
FREESURFER/PAT_001/label/rh.BA4a_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.BA4p_exvivo.label
FREESURFER/PAT_001/label/rh.BA4p_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.BA6_exvivo.label
FREESURFER/PAT_001/label/rh.BA6_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.BA44_exvivo.label
FREESURFER/PAT_001/label/rh.BA44_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.BA45_exvivo.label
FREESURFER/PAT_001/label/rh.BA45_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.cortex.label
FREESURFER/PAT_001/label/rh.cortex+hipamyg.label
FREESURFER/PAT_001/label/rh.entorhinal_exvivo.label
FREESURFER/PAT_001/label/rh.entorhinal_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.FG1.mpm.vpnl.label
FREESURFER/PAT_001/label/rh.FG2.mpm.vpnl.label
FREESURFER/PAT_001/label/rh.FG3.mpm.vpnl.label
FREESURFER/PAT_001/label/rh.FG4.mpm.vpnl.label
FREESURFER/PAT_001/label/rh.hOc1.mpm.vpnl.label
FREESURFER/PAT_001/label/rh.hOc2.mpm.vpnl.label
FREESURFER/PAT_001/label/rh.hOc3v.mpm.vpnl.label
FREESURFER/PAT_001/label/rh.hOc4v.mpm.vpnl.label
FREESURFER/PAT_001/label/rh.mpm.vpnl.annot
FREESURFER/PAT_001/label/rh.MT_exvivo.label
FREESURFER/PAT_001/label/rh.MT_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.nofix.cortex.label
FREESURFER/PAT_001/label/rh.perirhinal_exvivo.label
FREESURFER/PAT_001/label/rh.perirhinal_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.V1_exvivo.label
FREESURFER/PAT_001/label/rh.V1_exvivo.thresh.label
FREESURFER/PAT_001/label/rh.V2_exvivo.label
FREESURFER/PAT_001/label/rh.V2_exvivo.thresh.label
FREESURFER/PAT_001/mri/antsdn.brain.mgz
FREESURFER/PAT_001/mri/aparc.a2009s+aseg.mgz
FREESURFER/PAT_001/mri/aparc.DKTatlas+aseg.mgz
FREESURFER/PAT_001/mri/aparc+aseg.mgz
FREESURFER/PAT_001/mri/aseg.auto_noCCseg.label_intensities.txt
FREESURFER/PAT_001/mri/aseg.auto_noCCseg.mgz
FREESURFER/PAT_001/mri/aseg.auto.mgz
FREESURFER/PAT_001/mri/aseg.mgz
FREESURFER/PAT_001/mri/aseg.presurf.hypos.mgz
FREESURFER/PAT_001/mri/aseg.presurf.mgz
FREESURFER/PAT_001/mri/brain.finalsurfs.mgz
FREESURFER/PAT_001/mri/brain.mgz
FREESURFER/PAT_001/mri/brainmask.auto.mgz
FREESURFER/PAT_001/mri/brainmask.mgz
FREESURFER/PAT_001/mri/ctrl_pts.mgz
FREESURFER/PAT_001/mri/filled.auto.mgz
FREESURFER/PAT_001/mri/filled.mgz
FREESURFER/PAT_001/mri/lh.ribbon.mgz
FREESURFER/PAT_001/mri/mri_nu_correct.mni.log
FREESURFER/PAT_001/mri/mri_nu_correct.mni.log.bak
FREESURFER/PAT_001/mri/norm.mgz
FREESURFER/PAT_001/mri/nu.mgz
FREESURFER/PAT_001/mri/orig_nu.mgz
FREESURFER/PAT_001/mri/orig.mgz
FREESURFER/PAT_001/mri/rawavg.mgz
FREESURFER/PAT_001/mri/refroi.mgz
FREESURFER/PAT_001/mri/rh.ribbon.mgz
FREESURFER/PAT_001/mri/ribbon.mgz
FREESURFER/PAT_001/mri/segment.dat
FREESURFER/PAT_001/mri/surface.defects.mgz
FREESURFER/PAT_001/mri/T1.mgz
FREESURFER/PAT_001/mri/T2.mgz
FREESURFER/PAT_001/mri/T2.norm.mgz
FREESURFER/PAT_001/mri/T2.prenorm.mgz
FREESURFER/PAT_001/mri/talairach_with_skull.log
FREESURFER/PAT_001/mri/talairach.label_intensities.txt
FREESURFER/PAT_001/mri/talairach.log
FREESURFER/PAT_001/mri/wm.asegedit.mgz
FREESURFER/PAT_001/mri/wm.mgz
FREESURFER/PAT_001/mri/wm.seg.mgz
FREESURFER/PAT_001/mri/wmparc.mgz
FREESURFER/PAT_001/mri/orig/001.mgz
FREESURFER/PAT_001/mri/orig/T2raw.mgz
FREESURFER/PAT_001/mri/transforms/cc_up.lta
FREESURFER/PAT_001/mri/transforms/T2raw.auto.dat
FREESURFER/PAT_001/mri/transforms/T2raw.auto.dat.mincost
FREESURFER/PAT_001/mri/transforms/T2raw.auto.dat.param
FREESURFER/PAT_001/mri/transforms/T2raw.auto.dat.sum
FREESURFER/PAT_001/mri/transforms/T2raw.auto.dat~
FREESURFER/PAT_001/mri/transforms/T2raw.auto.log
FREESURFER/PAT_001/mri/transforms/T2raw.auto.lta
FREESURFER/PAT_001/mri/transforms/T2raw.lta
FREESURFER/PAT_001/mri/transforms/talairach_avi_QA.log
FREESURFER/PAT_001/mri/transforms/talairach_avi.log
FREESURFER/PAT_001/mri/transforms/talairach_with_skull.lta
FREESURFER/PAT_001/mri/transforms/talairach.auto.xfm
FREESURFER/PAT_001/mri/transforms/talairach.auto.xfm.lta
FREESURFER/PAT_001/mri/transforms/talairach.lta
FREESURFER/PAT_001/mri/transforms/talairach.m3z
FREESURFER/PAT_001/mri/transforms/talairach.xfm
FREESURFER/PAT_001/mri/transforms/talairach.xfm.lta
FREESURFER/PAT_001/mri/transforms/talsrcimg_to_711-2C_as_mni_average_305_t4_vox2vox.txt
FREESURFER/PAT_001/scripts/build-stamp.txt
FREESURFER/PAT_001/scripts/defect2seg.log
FREESURFER/PAT_001/scripts/lastcall.build-stamp.txt
FREESURFER/PAT_001/scripts/patchdir.txt
FREESURFER/PAT_001/scripts/pctsurfcon.log
FREESURFER/PAT_001/scripts/pctsurfcon.log.old
FREESURFER/PAT_001/scripts/ponscc.cut.log
FREESURFER/PAT_001/scripts/recon-all-status.log
FREESURFER/PAT_001/scripts/recon-all.cmd
FREESURFER/PAT_001/scripts/recon-all.done
FREESURFER/PAT_001/scripts/recon-all.env
FREESURFER/PAT_001/scripts/recon-all.local-copy
FREESURFER/PAT_001/scripts/recon-all.log
FREESURFER/PAT_001/scripts/recon-config.yaml
FREESURFER/PAT_001/scripts/unknown-args.txt
FREESURFER/PAT_001/stats/aseg.stats
FREESURFER/PAT_001/stats/brainvol.stats
FREESURFER/PAT_001/stats/lh.aparc.a2009s.stats
FREESURFER/PAT_001/stats/lh.aparc.DKTatlas.stats
FREESURFER/PAT_001/stats/lh.aparc.pial.stats
FREESURFER/PAT_001/stats/lh.aparc.stats
FREESURFER/PAT_001/stats/lh.BA_exvivo.stats
FREESURFER/PAT_001/stats/lh.BA_exvivo.thresh.stats
FREESURFER/PAT_001/stats/lh.curv.stats
FREESURFER/PAT_001/stats/lh.w-g.pct.stats
FREESURFER/PAT_001/stats/rh.aparc.a2009s.stats
FREESURFER/PAT_001/stats/rh.aparc.DKTatlas.stats
FREESURFER/PAT_001/stats/rh.aparc.pial.stats
FREESURFER/PAT_001/stats/rh.aparc.stats
FREESURFER/PAT_001/stats/rh.BA_exvivo.stats
FREESURFER/PAT_001/stats/rh.BA_exvivo.thresh.stats
FREESURFER/PAT_001/stats/rh.curv.stats
FREESURFER/PAT_001/stats/rh.w-g.pct.stats
FREESURFER/PAT_001/stats/wmparc.stats
FREESURFER/PAT_001/surf/autodet.gw.stats.lh.dat
FREESURFER/PAT_001/surf/autodet.gw.stats.rh.dat
FREESURFER/PAT_001/surf/lh.area
FREESURFER/PAT_001/surf/lh.area.mid
FREESURFER/PAT_001/surf/lh.area.pial
FREESURFER/PAT_001/surf/lh.avg_curv
FREESURFER/PAT_001/surf/lh.curv
FREESURFER/PAT_001/surf/lh.curv.pial
FREESURFER/PAT_001/surf/lh.defect_borders
FREESURFER/PAT_001/surf/lh.defect_chull
FREESURFER/PAT_001/surf/lh.defect_labels
FREESURFER/PAT_001/surf/lh.defects.pointset
FREESURFER/PAT_001/surf/lh.fsaverage.sphere.reg
FREESURFER/PAT_001/surf/lh.inflated
FREESURFER/PAT_001/surf/lh.inflated.H
FREESURFER/PAT_001/surf/lh.inflated.K
FREESURFER/PAT_001/surf/lh.inflated.nofix
FREESURFER/PAT_001/surf/lh.jacobian_white
FREESURFER/PAT_001/surf/lh.orig
FREESURFER/PAT_001/surf/lh.orig.nofix
FREESURFER/PAT_001/surf/lh.orig.premesh
FREESURFER/PAT_001/surf/lh.pial
FREESURFER/PAT_001/surf/lh.pial.T1
FREESURFER/PAT_001/surf/lh.pial.T2
FREESURFER/PAT_001/surf/lh.qsphere.nofix
FREESURFER/PAT_001/surf/lh.smoothwm
FREESURFER/PAT_001/surf/lh.smoothwm.BE.crv
FREESURFER/PAT_001/surf/lh.smoothwm.C.crv
FREESURFER/PAT_001/surf/lh.smoothwm.FI.crv
FREESURFER/PAT_001/surf/lh.smoothwm.H.crv
FREESURFER/PAT_001/surf/lh.smoothwm.K.crv
FREESURFER/PAT_001/surf/lh.smoothwm.K1.crv
FREESURFER/PAT_001/surf/lh.smoothwm.K2.crv
FREESURFER/PAT_001/surf/lh.smoothwm.nofix
FREESURFER/PAT_001/surf/lh.smoothwm.S.crv
FREESURFER/PAT_001/surf/lh.sphere
FREESURFER/PAT_001/surf/lh.sphere.reg
FREESURFER/PAT_001/surf/lh.sulc
FREESURFER/PAT_001/surf/lh.thickness
FREESURFER/PAT_001/surf/lh.volume
FREESURFER/PAT_001/surf/lh.w-g.pct.mgh
FREESURFER/PAT_001/surf/lh.white
FREESURFER/PAT_001/surf/lh.white.H
FREESURFER/PAT_001/surf/lh.white.K
FREESURFER/PAT_001/surf/lh.white.preaparc
FREESURFER/PAT_001/surf/lh.white.preaparc.H
FREESURFER/PAT_001/surf/lh.white.preaparc.K
FREESURFER/PAT_001/surf/rh.area
FREESURFER/PAT_001/surf/rh.area.mid
FREESURFER/PAT_001/surf/rh.area.pial
FREESURFER/PAT_001/surf/rh.avg_curv
FREESURFER/PAT_001/surf/rh.curv
FREESURFER/PAT_001/surf/rh.curv.pial
FREESURFER/PAT_001/surf/rh.defect_borders
FREESURFER/PAT_001/surf/rh.defect_chull
FREESURFER/PAT_001/surf/rh.defect_labels
FREESURFER/PAT_001/surf/rh.defects.pointset
FREESURFER/PAT_001/surf/rh.fsaverage.sphere.reg
FREESURFER/PAT_001/surf/rh.inflated
FREESURFER/PAT_001/surf/rh.inflated.H
FREESURFER/PAT_001/surf/rh.inflated.K
FREESURFER/PAT_001/surf/rh.inflated.nofix
FREESURFER/PAT_001/surf/rh.jacobian_white
FREESURFER/PAT_001/surf/rh.orig
FREESURFER/PAT_001/surf/rh.orig.nofix
FREESURFER/PAT_001/surf/rh.orig.premesh
FREESURFER/PAT_001/surf/rh.pial
FREESURFER/PAT_001/surf/rh.pial.T1
FREESURFER/PAT_001/surf/rh.pial.T2
FREESURFER/PAT_001/surf/rh.qsphere.nofix
FREESURFER/PAT_001/surf/rh.smoothwm
FREESURFER/PAT_001/surf/rh.smoothwm.BE.crv
FREESURFER/PAT_001/surf/rh.smoothwm.C.crv
FREESURFER/PAT_001/surf/rh.smoothwm.FI.crv
FREESURFER/PAT_001/surf/rh.smoothwm.H.crv
FREESURFER/PAT_001/surf/rh.smoothwm.K.crv
FREESURFER/PAT_001/surf/rh.smoothwm.K1.crv
FREESURFER/PAT_001/surf/rh.smoothwm.K2.crv
FREESURFER/PAT_001/surf/rh.smoothwm.nofix
FREESURFER/PAT_001/surf/rh.smoothwm.S.crv
FREESURFER/PAT_001/surf/rh.sphere
FREESURFER/PAT_001/surf/rh.sphere.reg
FREESURFER/PAT_001/surf/rh.sulc
FREESURFER/PAT_001/surf/rh.thickness
FREESURFER/PAT_001/surf/rh.volume
FREESURFER/PAT_001/surf/rh.w-g.pct.mgh
FREESURFER/PAT_001/surf/rh.white
FREESURFER/PAT_001/surf/rh.white.H
FREESURFER/PAT_001/surf/rh.white.K
FREESURFER/PAT_001/surf/rh.white.preaparc
FREESURFER/PAT_001/surf/rh.white.preaparc.H
FREESURFER/PAT_001/surf/rh.white.preaparc.K
FREESURFER/PAT_001/touch/apas2aseg.touch
FREESURFER/PAT_001/touch/asegmerge.touch
FREESURFER/PAT_001/touch/ca_label.touch
FREESURFER/PAT_001/touch/ca_normalize.touch
FREESURFER/PAT_001/touch/ca_register.touch
FREESURFER/PAT_001/touch/conform.touch
FREESURFER/PAT_001/touch/cortical_ribbon.touch
FREESURFER/PAT_001/touch/em_register.touch
FREESURFER/PAT_001/touch/fill.touch
FREESURFER/PAT_001/touch/inorm1.touch
FREESURFER/PAT_001/touch/inorm2.touch
FREESURFER/PAT_001/touch/lh.aparc.touch
FREESURFER/PAT_001/touch/lh.aparc2.touch
FREESURFER/PAT_001/touch/lh.aparcstats.touch
FREESURFER/PAT_001/touch/lh.aparcstats2.touch
FREESURFER/PAT_001/touch/lh.aparcstats3.touch
FREESURFER/PAT_001/touch/lh.autodet.gw.stats.touch
FREESURFER/PAT_001/touch/lh.avgcurv.touch
FREESURFER/PAT_001/touch/lh.cortex.touch
FREESURFER/PAT_001/touch/lh.cortex+hipamyg.touch
FREESURFER/PAT_001/touch/lh.curvstats.touch
FREESURFER/PAT_001/touch/lh.inflate.H.K.touch
FREESURFER/PAT_001/touch/lh.inflate1.touch
FREESURFER/PAT_001/touch/lh.inflate2.touch
FREESURFER/PAT_001/touch/lh.jacobian_white.touch
FREESURFER/PAT_001/touch/lh.pctsurfcon.touch
FREESURFER/PAT_001/touch/lh.pial.touch
FREESURFER/PAT_001/touch/lh.qsphere.touch
FREESURFER/PAT_001/touch/lh.smoothwm1.touch
FREESURFER/PAT_001/touch/lh.smoothwm2.touch
FREESURFER/PAT_001/touch/lh.sphmorph.touch
FREESURFER/PAT_001/touch/lh.sphreg.touch
FREESURFER/PAT_001/touch/lh.tessellate.touch
FREESURFER/PAT_001/touch/lh.topofix.touch
FREESURFER/PAT_001/touch/lh.white.H.K.touch
FREESURFER/PAT_001/touch/lh.white.preaparc.touch
FREESURFER/PAT_001/touch/lh.white.touch
FREESURFER/PAT_001/touch/nu.touch
FREESURFER/PAT_001/touch/relabelhypos.touch
FREESURFER/PAT_001/touch/rh.aparc.touch
FREESURFER/PAT_001/touch/rh.aparc2.touch
FREESURFER/PAT_001/touch/rh.aparcstats.touch
FREESURFER/PAT_001/touch/rh.aparcstats2.touch
FREESURFER/PAT_001/touch/rh.aparcstats3.touch
FREESURFER/PAT_001/touch/rh.autodet.gw.stats.touch
FREESURFER/PAT_001/touch/rh.avgcurv.touch
FREESURFER/PAT_001/touch/rh.cortex.touch
FREESURFER/PAT_001/touch/rh.cortex+hipamyg.touch
FREESURFER/PAT_001/touch/rh.curvstats.touch
FREESURFER/PAT_001/touch/rh.inflate.H.K.touch
FREESURFER/PAT_001/touch/rh.inflate1.touch
FREESURFER/PAT_001/touch/rh.inflate2.touch
FREESURFER/PAT_001/touch/rh.jacobian_white.touch
FREESURFER/PAT_001/touch/rh.pctsurfcon.touch
FREESURFER/PAT_001/touch/rh.pial.touch
FREESURFER/PAT_001/touch/rh.qsphere.touch
FREESURFER/PAT_001/touch/rh.smoothwm1.touch
FREESURFER/PAT_001/touch/rh.smoothwm2.touch
FREESURFER/PAT_001/touch/rh.sphmorph.touch
FREESURFER/PAT_001/touch/rh.sphreg.touch
FREESURFER/PAT_001/touch/rh.tessellate.touch
FREESURFER/PAT_001/touch/rh.topofix.touch
FREESURFER/PAT_001/touch/rh.white.H.K.touch
FREESURFER/PAT_001/touch/rh.white.preaparc.touch
FREESURFER/PAT_001/touch/rh.white.touch
FREESURFER/PAT_001/touch/segstats.touch
FREESURFER/PAT_001/touch/skull_strip.touch
FREESURFER/PAT_001/touch/skull.lta.touch
FREESURFER/PAT_001/touch/talairach.touch
FREESURFER/PAT_001/touch/wmaparc.stats.touch
FREESURFER/PAT_001/touch/wmsegment.touch
